/* CircularStd */
@font-face {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Book'),
    url('./CircularStd-Book.woff') format('woff');
}

@font-face {
  font-family: 'CircularStd';
  font-style: italic;
  font-weight: normal;
  src: local('Circular Std Book Italic'),
    url('./CircularStd-BookItalic.woff') format('woff');
}

@font-face {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: bold;
  src: local('Circular Std Bold'),
    url('./CircularStd-Bold.woff') format('woff');
}

@font-face {
  font-family: 'CircularStd';
  font-style: italic;
  font-weight: bold;
  src: local('Circular Std Bold Italic'),
    url('./CircularStd-BoldItalic.woff') format('woff');
}


/* Google webfonr API로 대체 */
@import '//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css';
